<br>
<form *ngIf="authservice.isAuthenticated()===false">
    <div class="form-group">
        <label for="name">User</label>
        <input type="text" class="form-control" id="user" required>
      </div>

    <div class="form-group">
      <label for="alterEgo">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button (click)="login()"  >Login</button>
</form>

<form *ngIf="authservice.isAuthenticated()===true">
  <button (click)="logout()" >LogOut</button>
</form>
